html {
    height: 100%;
    width: 100%;
  }
  .jedna{
  color:blue;
  text-align: center;
  font-size: 180%;
  background-color: red ;
  }
  .dva{
  color:rebeccapurple;
  font-size: 120%;
  background-color: purple;
  text-align: center;
  }
  .tri{
  color:red;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  }
  .ctyri{
  color:#000000;
  border: 1px groove #0d0d0d;
  background-color: #f18973;
  text-align: center;
  }
  .skola{
  color:rgb(44, 106, 131);
  font-family: "Open Sans", sans-serif;
  text-align: left;
  }
  .galerie{
  color:rgb(164, 173, 108);
  font-family: "Open Sans", sans-serif;
  text-align: left;
  }
  .kontakty{
  color:rgb(89, 158, 106);
  font-family: "Open Sans", sans-serif;
  text-align: left;
  background-color: #ccc9c9;
  }
  .onas{
  color:rgb(144, 102, 221);
  font-family: "Open Sans", sans-serif;
  text-align: left;
  background-color: rgb(231, 227, 227);
  }
  .hlavni{
  color:rgb(40, 33, 53);
  font-family: "Open Sans", sans-serif;
  text-align: left;
  background-color: aqua;
  }